#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.wrapper{
  width: 400px;
  height:600px;
  background-color: peru;
  border-radius: 20px;
}

.buttonWrapper{
  margin: 25px;
}

.row{
  margin: 15px auto;
  display: flex;
}

.buttons {
  height: 46px;
  margin: 8px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  flex:1;
  font-size: 20px;
  font-weight: 5;
}

.inputWrapper {
  margin: 20px auto;
  background-color: black;
  text-align:left;
  padding: 14px
}

.result {
  flex:1;
  font-size: 16px;
}

.text {
  flex:1;
  font-size: 16px;
}




